<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note list</title>
</head>
<body>
<a href="/note/create">create new note</a>
<h1>Notes</h1>
<form>
    <table border="1px">
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Type</th>
            <th>Content</th>
        </tr>
        <th:block th:each="note : ${notes}">
            <tr>
                <td th:text="${note.time}"></td>
                <td th:text="${note.name}"></td>
                <td th:text="${note.type.name}"></td>
                <td th:text="${note.content}"></td>
            </tr>
        </th:block>
    </table>
<!--    <div>-->
<!--        <a th:href="@{'/note/list/'(page=${notes.number - 1})}" th:if="${notes.hasPrevious()}">Previous</a>-->
<!--        <span th:text="${notes.number + 1}"></span>/<span th:text="${notes.totalPages}"></span>-->
<!--        <a th:href="@{'/customer/list/'(page=${notes.number + 1})}" th:if="${notes.hasNext()}" >Next</a>-->
<!--    </div>-->
</form>
</body>
</html>